@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background-color: #292336;
}

nav{
    position: sticky;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 41px rgb(14, 55, 54 / 14%);
    padding: 12px 10%;
    transition: 0.2s;
    color: #fff;
    margin-bottom: 50px;
}

.navbar{
    display: flex;
    margin: 1rem 0 1rem 0;
}

.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.navbar a:hover{
color: #AA77FF;
}

.navbar a::before {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #AA77FF;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: width 0.3s ease;
}

.navbar a:hover::before {
    width: 100%;
}
.table{
    margin: 0 200px;
    /* width: 80%; */
}
.table .product-column{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table img{
    width: 50px;
}
th{
    padding: 5px;
    background-color: #F3F6F9;
}
td{
    padding: 30px 20px;
    color: #FFF;
}